In [15]:
# Importación de librerías
import sqlite3
import pandas as pd

# Conectar a una base de datos SQLite en memoria (temporal para este ejemplo)
conn = sqlite3.connect(":memory:")

# Cargar el dataset de ciudades
url_cities = "https://raw.githubusercontent.com/datasets/world-cities/master/data/world-cities.csv"
cities = pd.read_csv(url_cities)
cities.to_sql('cities', conn, index=False, if_exists='replace')

# Cargar un dataset de empleados
url_employees = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user"
employees = pd.read_csv(url_employees, sep="|")
employees.to_sql('employees', conn, index=False, if_exists='replace')

# Dataset de países (para relacionarlo con cities)
countries_data = {
    'country': ['Andorra', 'United Arab Emirates', 'United States', 'Canada'],
    'region': ['Europe', 'Middle East', 'North America', 'North America'],
    'population_millions': [0.077, 9.77, 331, 37.59]
}
countries = pd.DataFrame(countries_data)
countries.to_sql('countries', conn, index=False, if_exists='replace')

# Dataset de departamentos (para relacionarlo con employees)
departments_data = {
    'occupation': ['technician', 'writer', 'other', 'manager'],
    'department_name': ['Technical Support', 'Editorial', 'Miscellaneous', 'Management'],
    'budget_millions': [5.5, 3.0, 2.5, 10.0]
}
departments = pd.DataFrame(departments_data)
departments.to_sql('departments', conn, index=False, if_exists='replace')

In [16]:
## Ejercicio A: Contar Ciudades por País

print("\nEjercicio A - Contar Ciudades por País:")
qa1 = """
SELECT country, COUNT(name) AS city_count
FROM cities
GROUP BY country
HAVING COUNT(name) > 2;
"""
ra1 = pd.read_sql_query(qa1, conn)
print(ra1)

## Ejercicio A: Listado de Empleados y Departamentos
print("\nEjercicio A - Listado de Empleados y Departamentos:")
qa2 = """
SELECT e.user_id, e.age, e.gender, e.occupation, d.department_name
FROM employees e
JOIN departments d ON e.occupation = d.occupation;
"""
ra2 = pd.read_sql_query(qa2, conn)
print(ra2)

## Ejercicio A: Promedio de Edad por Ocupación
print("\nEjercicio A - Promedio de Edad por Ocupación:")
qa3 = """
SELECT occupation, AVG(age) AS average_age
FROM employees
GROUP BY occupation;
"""
ra3 = pd.read_sql_query(qa3, conn)
print(ra3)

## Ejercicio A: Ciudades y Región
print("\nEjercicio A - Ciudades y Región:")
qa4 = """
SELECT c.name AS city_name, c.country, co.region
FROM cities c
JOIN countries co ON c.country = co.country;
"""
ra4 = pd.read_sql_query(qa4, conn)
print(ra4)




## Ejercicio B: Calcular el Número de Ciudades por Región con CTE
print("\nEjercicio B - Calcular el Número de Ciudades por Región con CTE:")
qb1 = """
WITH CityCount AS (
    SELECT co.region, COUNT(c.name) AS city_count
    FROM cities c
    JOIN countries co ON c.country = co.country
    GROUP BY co.region
)
SELECT region, city_count
FROM CityCount
WHERE city_count > 3;
"""
rb1 = pd.read_sql_query(qb1, conn)
print(rb1)

## Ejercicio B: Ranking de Edad de Empleados por Ocupación con Window Functions
print("\nEjercicio B - Ranking de Edad de Empleados por Ocupación con Window Functions:")
qb2 = """
SELECT user_id, occupation, age,
       RANK() OVER (PARTITION BY occupation ORDER BY age DESC) AS age_rank
FROM employees
"""
rb2 = pd.read_sql_query(qb2, conn)
rb2 = rb2[rb2['age_rank'] <= 2]
print(rb2)

## Ejercicio B: Comparación de Ciudades y Población por Región
print("\nEjercicio B - Comparación de Ciudades y Población por Región:")
qb3 = """
SELECT co.region, COUNT(c.name) AS city_count, SUM(co.population_millions) AS total_population
FROM cities c
JOIN countries co ON c.country = co.country
GROUP BY co.region
HAVING COUNT(c.name) > 3 AND SUM(co.population_millions) > 50;
"""
rb3 = pd.read_sql_query(qb3, conn)
print(rb3)

## Ejercicio B: Empleados con Edad Superior al Promedio General en su Departamento
print("\nEjercicio B - Empleados con Edad Superior al Promedio General en su Departamento:")
qb4 = """
SELECT e.user_id, e.age, e.occupation
FROM employees e
WHERE e.age > (
    SELECT AVG(e2.age)
    FROM employees e2
    WHERE e2.occupation = e.occupation
);
"""
rb4 = pd.read_sql_query(qb4, conn)
print(rb4)




## Ejercicio C: Encontrar los Países con el Mayor Número de Ciudades y su Región
print("\nEjercicio C - Encontrar los Países con el Mayor Número de Ciudades y su Región:")
qc1 = """
WITH CityCountPerCountry AS (
    SELECT co.country, co.region, COUNT(c.name) AS city_count
    FROM cities c
    JOIN countries co ON c.country = co.country
    GROUP BY co.country, co.region
),
MaxCityCountPerRegion AS (
    SELECT region, MAX(city_count) AS max_city_count
    FROM CityCountPerCountry
    GROUP BY region
)
SELECT cpc.country, cpc.region, cpc.city_count
FROM CityCountPerCountry cpc
JOIN MaxCityCountPerRegion mcc ON cpc.region = mcc.region AND cpc.city_count = mcc.max_city_count;
"""
rc1 = pd.read_sql_query(qc1, conn)
print(rc1)

## Ejercicio C: Comparación de Presupuestos y Cantidad de Empleados por Departamento
print("\nEjercicio C - Comparación de Presupuestos y Cantidad de Empleados por Departamento:")
qc2 = """
WITH EmployeeCount AS (
    SELECT e.occupation, COUNT(e.user_id) AS employee_count
    FROM employees e
    GROUP BY e.occupation
)
SELECT d.department_name, d.budget_millions, ec.employee_count,
       (d.budget_millions / ec.employee_count) AS budget_per_employee
FROM departments d
JOIN EmployeeCount ec ON d.occupation = ec.occupation
WHERE (d.budget_millions / ec.employee_count) < 0.1;
"""
rc2 = pd.read_sql_query(qc2, conn)
print(rc2)

Ejercicio A - Contar Ciudades por País:
            country  city_count
0       Afghanistan          50
1           Albania          22
2           Algeria         292
3            Angola          95
4         Argentina         233
..              ...         ...
179        Viet Nam         118
180  Western Sahara           3
181           Yemen          23
182          Zambia          30
183        Zimbabwe          28

[184 rows x 2 columns]

Ejercicio A - Listado de Empleados y Departamentos:
     user_id  age gender  occupation    department_name
0          1   24      M  technician  Technical Support
1          2   53      F       other      Miscellaneous
2          3   23      M      writer          Editorial
3          4   24      M  technician  Technical Support
4          5   33      F       other      Miscellaneous
..       ...  ...    ...         ...                ...
172      914   44      F       other      Miscellaneous
173      919   25      M       other      Miscellaneous
174      924   29      M       other      Miscellaneous
175      936   24      M       other      Miscellaneous
176      938   38      F  technician  Technical Support

[177 rows x 5 columns]

Ejercicio A - Promedio de Edad por Ocupación:
       occupation  average_age
0   administrator    38.746835
1          artist    31.392857
2          doctor    43.571429
3        educator    42.010526
4        engineer    36.388060
5   entertainment    29.222222
6       executive    38.718750
7      healthcare    41.562500
8       homemaker    32.571429
9          lawyer    36.750000
10      librarian    40.000000
11      marketing    37.615385
12           none    26.555556
13          other    34.523810
14     programmer    33.121212
15        retired    63.071429
16       salesman    35.666667
17      scientist    35.548387
18        student    22.081633
19     technician    33.148148
20         writer    36.311111

Ejercicio A - Ciudades y Región:
                                  city_name               country  \
0                              les Escaldes               Andorra
1                          Andorra la Vella               Andorra
2                                   Warīsān  United Arab Emirates
3                                Umm Suqaym  United Arab Emirates
4                        Umm Al Quwain City  United Arab Emirates
...                                     ...                   ...
3704                          Tustin Legacy         United States
3705  Aliamanu / Salt Lake / Foster Village         United States
3706        Mililani Mauka / Launani Valley         United States
3707                              Koolauloa         United States
3708      Makakilo / Kapolei / Honokai Hale         United States

             region
0            Europe
1            Europe
2       Middle East
3       Middle East
4       Middle East
...             ...
3704  North America
3705  North America
3706  North America
3707  North America
3708  North America

[3709 rows x 3 columns]

Ejercicio B - Calcular el Número de Ciudades por Región con CTE:
          region  city_count
0    Middle East          63
1  North America        3644

Ejercicio B - Ranking de Edad de Empleados por Ocupación con Window Functions:
     user_id     occupation  age  age_rank
0        803  administrator   70         1
1        266  administrator   62         2
79       123         artist   48         1
80       146         artist   45         2
81       902         artist   45         2
107      845         doctor   64         1
108      427         doctor   51         2
114      858       educator   63         1
115      351       educator   61         2
209      767       engineer   70         1
210      364       engineer   63         2
276      915  entertainment   50         1
277      926  entertainment   49         2
294      559      executive   69         1
295      728      executive   58         2
326      520     healthcare   62         1
327      170     healthcare   53         2
342      722      homemaker   50         1
343       20      homemaker   42         2
349       10         lawyer   53         1
350      444         lawyer   51         2
361      585      librarian   69         1
362      754      librarian   59         2
412       91      marketing   55         1
413      172      marketing   55         1
438      418           none   55         1
439      256           none   35         2
447      423          other   64         1
448      454          other   57         2
552      777     programmer   63         1
553      694     programmer   60         2
618      481        retired   73         1
619      860        retired   70         2
632      211       salesman   66         1
633      753       salesman   56         2
644      616      scientist   55         1
645       14      scientist   45         2
646      232      scientist   45         2
675      188        student   42         1
676      565        student   40         2
871      197     technician   55         1
872      441     technician   50         2
898      464         writer   60         1
899      558         writer   56         2

Ejercicio B - Comparación de Ciudades y Población por Región:
          region  city_count  total_population
0    Middle East          63            615.51
1  North America        3644        1107578.24

Ejercicio B - Empleados con Edad Superior al Promedio General en su Departamento:
     user_id  age     occupation
0          2   53          other
1          6   42      executive
2          7   57  administrator
3          9   29        student
4         10   53         lawyer
..       ...  ...            ...
403      934   61       engineer
404      937   48       educator
405      938   38     technician
406      939   26        student
407      942   48      librarian

[408 rows x 3 columns]

Ejercicio C - Encontrar los Países con el Mayor Número de Ciudades y su Región:
                country         region  city_count
0               Andorra         Europe           2
1  United Arab Emirates    Middle East          63
2         United States  North America        3308

Ejercicio C - Comparación de Presupuestos y Cantidad de Empleados por Departamento:
  department_name  budget_millions  employee_count  budget_per_employee
0       Editorial              3.0              45             0.066667
1   Miscellaneous              2.5             105             0.023810